*::before,*::after
{
    box-sizing: border-box;
}

body
{
    margin:0;
    padding:0;
   
}

img
{
    width:50px;
    height:50px;
}

#navbar
{
    display:flex;
    background-color: rgba(249, 16, 20, 0.6);
    color:white;
    justify-content: space-between;
}

#nav-brand
{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0.35rem;
    color: rgb(8, 137, 181);
    font-weight: bold;
    font-size:25px;
}

#nav-brand-text
{
  font-weight: bolder;
}

.nav-links
{
  margin: 1.1rem;
  color:white;
}

.nav-links > a
{
    margin: 0 0.5rem;
    text-decoration: none;
    color:white;
    padding: 1rem;
}

.nav-links > a:hover
{
    background-color: rgba(8, 185, 100,0.8);
    border-radius: 100vh;
    
}
#hamburger-btn
{
    width:32px;
    height:20px;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    top: 1rem;
    right: 2rem;
}

.tile
{
    width: 28px;
    height: 4px;
    border-radius: 3px;
    background-color: black;
}


@media(max-width:600px)
{
    #hamburger-btn
    {
        display: flex;
    }

    #navbar
    {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .nav-links
    {
        display: none;
        align-items: center;
        margin: 0.5rem;
        flex-direction: column;
    } 

    .nav-links.active
    {

       display: flex;
    }
}